<?php
$config = [
    'mailerUsername' => "marcus.jenz@gmail.com",
    'mailerPassword' => "ncenjfjemtdarcin",
    'files' => [],
    'content' => '',
    'recipients' => [],
    'from' => [],
    'subject' => ""
];
?>